/* Alan Sans */
@font-face {
    font-family: 'Alan Sans';
    src: url('../assets/fonts/Alan_Sans/static/AlanSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alan Sans';
    src: url('../assets/fonts/Alan_Sans/static/AlanSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* === Fira Sans === */
@font-face {
    font-family: 'Fira Sans';
    src: url('../assets/fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../assets/fonts/Fira_Sans/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Alan Sans";
    min-height: 100vh;
    min-width: 490px;
}

.calculator {
    width: 100%;
    max-width: 350px;
}

.btn {
    aspect-ratio: 1;
    font-weight: bold;
    font-size: large;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-success {
    border-radius: 0;
    height: 62px;
    border-radius: 10px;
}

/* blinking cursor */

@keyframes cursor-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.cursor {
    animation-name: cursor-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}